.img-preview {
   padding:1px;
   border:1px solid #FF0000;
   float: left;
}

.div-file {
    border: 2px solid #a1a1a1;
    padding: 10px 40px;
    width: 50%;
    height: 20%;
    border-radius: 25px;
}

.thing-link {
    border: 1px solid #a1a1a1;
    width: 18%;
    border-radius: 5;
    margin: 5;
}

body {
    background-color: #FCF9EF;
}

h1 {
    color: #993300;
    font-family: "Courier New";
}

a:link {
    color: #FF0000 !important;

}

a:visited{
    color: #3333FF !important;
}

a:hover{
    color: #CCCC00 !important;
}