<html>
<head>

    <script type=text/javascript src="{{url_for('static', filename='jquery-2.1.3.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='jquery-ui.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='main.js') }}" ></script>
    <script type=text/javascript src="{{url_for('static', filename='dialogs.js') }}" ></script>
    <script type=text/javascript src="{{url_for('static', filename='oauth.js') }}" ></script>
    <link href="{{url_for('static', filename='jquery-ui.min.css') }}" rel="stylesheet">
    <link href="{{url_for('static', filename='main.css') }}" rel="stylesheet">
    <link href="{{url_for('static', filename='forms.css') }}" rel="stylesheet">
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        state = '{{ STATE }}';
        (function() {
            var po = document.createElement('script');
            po.type = 'text/javascript'; po.async = true;
            po.src = 'https://plus.google.com/js/client:plusone.js';
            //po.src = 'https://apis.google.com/js/client:plusone.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
          })();
    </script>
</head>


<body>
	<div class='header'>
		<h1>Stuff-n-Things</h1>
	</div>
    <div id="gConnect">
    <button class="g-signin"
        id="signinBtn"
        data-scope="https://www.googleapis.com/auth/plus.login"
        data-requestvisibleactions="http://schemas.google.com/AddActivity"
        data-clientId="{{ CLIENT_ID }}"
        data-accesstype="offline"
        data-callback="onSignInCallback"
        data-theme="dark"
        data-cookiepolicy="single_host_origin">
    </button>
  </div>
  <div id="authOps" style="display:none">
    <button id="disconnect" >Disconnect from Google</button>
  </div>
    <div id="container">

        <div id="wrapper" style="float:left; width:30%;">
            <div id="noStuffDiv"></div>
            <div id="stuffDiv"></div>
        </div>

        <div id="thingsDiv" style="float:left; width:60%;margin: 10;" class="ui-accordion-header ui-state-default ui-accordion-icons ui-corner-all">
            {% if stuff|length != 0 %}
                <table>
                    <thead>
                        <tr><th>Latest Things
                    </thead>
                    <tbody>
                    {% for t in things %}
                        <tr>
                            <td>
                                <p><a href="#" data-thingID="{{t.id}}" class="thingItem">{{t.name}}</a> <i>({{t.stuff.name}})</i></p>
                            </td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <td>
                                <a href="#" id="mainThingAddLink">Add Things!</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
        </div>

    </div>

    <div id="dialog-add" style="display: none;">
    <form action="{{ url_for('addThings')}}" method = 'post' class="pure-form pure-form-aligned" id="thingForm">
        <fieldset>
            <div class="pure-control-group">
                <label for="name">Name</label>
                <input type ='text' size='30' name='name'>
            </div>
            <div class="pure-control-group">
                <label for="description">Description</label>
                <input type ='text' size='50' name='description'>
            </div>
            <div class="pure-control-group">
                <label for="quantity">Quantity</label>
                <input type ='number' size='30' name='quantity'>
            </div>
            <div class="div-file" style="margin: 0 auto">
                <input type="file" name='fileInput' onchange="convertToBase64()" style="float: left;">
                <img src="" id="addImagePreview" />
            </div>
            <br/>
            <div style="width: 50%;margin: 10 auto;">
                <select name="stuff_id" id="stuffSelector"/>
               <!-- <input type='submit' id='addThing' value='Add'> -->
            </div>


            <input type="hidden" name="base64img"/>

        </fieldset>
    </form>
    </div>

    <div id="dialog-delete"></div>
    <div id="dialog-unauthorized" title="Unauthorized" style="display: none;"/>
</body>

</html>